body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #a8edea, #fed6e3);
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Other existing CSS styles... */
/* 
.main {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: white;
    border-radius: 10px;
} */

/* Styling for input and buttons */
input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
    color: #b0b0b0;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #5dade2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3498db;
}

/* Todo list styles */
#todoList {
    list-style: none;
    padding: 0;
}

#todoList li {
    background: #ecf0f1;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#todoList li .editInput {
    margin-right: 10px;
    flex-grow: 1;
}

.editData, .saveData, .delData {
    margin-left: 5px;
}
/* Header styles */
.header-title {
    text-align: center;
    color: #5dade2;
    margin-bottom: 20px;
    font-size: 2em;
}

/* Footer styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5dade2;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
}

/* Adjusting the main content area */
.main {
    margin-top: 40px;
    margin-bottom: 60px; /* Space for footer */
    /* ... existing styles ... */
}